
html, body {
    margin:0;
    padding:0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    text-align: center;
    background-color:#F2F2F2;
}

body {
    margin-right: 60px;
    margin-left: 60px;
}

input, select {
    font-size:0.9em;
}

#intestazione {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 40px;
    text-align: center;
    background-color: #191970;
    color: #fff;
    margin: 20px;
    margin-top: 0px;
    border-radius: 4px;
}

table{
    margin-left: 20px;
}

h2 {
    font-size:16px;
    font-weight: bold;
    color:#23A4FF;
}

h3{
  display: block;
  font-size: 13px;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 8px;
  font-weight: bold;
}

a {
    color:#23A4FF;
}
#form_search {
    height: 50px;
}
#container {
    margin:0 auto;
    position:relative;
}

#filter-container{
  height:auto;
  position:relative;
  width: auto;
  float: left;
  z-index: 2;
}

#inner_rel{
    position:absolute;
    float:left;
    text-align: left;
    height:0px;
    width: 120px;
    z-index: 2;
    margin-left: 4px;
    margin-top: 50px;
    border-radius: 4px;
    background-color: #F0F8FF;
    margin-top: 24px;
    overflow: none;
}

#right-container, 
#center-container{
    height: 70vh;

    position:absolute;
    margin: 20px;
    margin-top: 15px;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px;
}

#right-container {
    width:450px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    right: 0;
    z-index: 1;
}

#root-container {
    width:450px;
    height:55px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    position:absolute;
    background-color:#fff;
    right: 0;
    bottom: 0px;
    z-index: 0;
    background-color: #23A4FF;
}

#h2_root{
    color: #fff; 
    margin: 0px;
    margin-left: 20px;
}

#center-container {
    width: -moz-calc(100% - 500px);
    width: -webkit-calc(100% - 500px);
    width: calc(100% - 500px);
    background-color:#fff;
}

.text {
    margin: 7px;
}

#res{
    margin: 0px;
    margin-left: 20px;
    margin-top: 15px;
}
#inner-details {
    font-size:14px;
    margin: 20px;
    margin-top: 0px;
    color: #fff;
    display: none;
}

#inner-list{
    margin: 20px;
    margin-top: 15px;
    overflow: auto;
    height:280px;
}

#infovis {
    position:relative;
    width:500px;
    height:500px;
    margin:auto;
    overflow:hidden;
    z-index:1;
}
#loading{
    width:100px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;}

#loading img{
    height: 100px;  
    width:100px;  
    z-index:0;  
}

#arrow_img{
  height: 20px;  
  width:20px;
  margin-left: 47%;  
  margin-top: 3px;
}


/*------ btn group -------*/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active{
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-group-vertical {
  width: 410px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}

.btn-group-vertical > .btn + .btn{
  margin-top: -1px;
  margin-left: 0;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}


/*------ FORM ---------*/

.form-control {
  float:  left;
  width: 500px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-right: 20px;
  margin-left: 25px;

}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea.form-control {
  height: auto;
}

.btn-primary {
  font-size: 16px;
  margin-right: 15px;
  height: 48px;
  padding-left: 17px;
  padding-right: 17px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  float:left;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

#search_button{
  position: relative;
  margin-left: 110px;
}

.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  background-color: #F0F8FF;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  position: relative;
}

.checkbox label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}

.check{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
}

#c1, #c2, #c3{
   visibility: hidden;
}

.onoffswitch {
    position: absolute; 
    width: 100px;
    margin-left: 565px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #357EBD; 
    border-radius: 4px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 47px; 
    padding: 0; 
    line-height: 47px;
    font-size: 16px; 
    color: white; 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "TAG";
    padding-left: 10px;
    text-align: left;
    background-color: #428BCA; 
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "ALL";
    padding-right: 10px;
    background-color: #428BCA; 
    color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 32px; 
    margin: 8px;
    background: #FFFFFF;
    border: 2px solid #357EBD; 
    border-radius: 4px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 46px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#filter_button{
  margin-right: 15px;
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #23A4FF;
  border: 0px;
  z-index:3;
  position:relative;
}